body {
    background-color: white;
}

.questionComment {
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
}

.questionComment .media-body {
    padding-top: 2px;
}

.question-ul{
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
}

.question-ul a{
    cursor: pointer;
    color: #155faa;
    text-decoration: none;
    padding: 5px 0px 5px 0px;;
}

.sub-comment-form{
    margin: 20px 10px 0px 10px;
    text-align: right;
}

.sub-comment-reply .media-left{
    margin-right: 5px;
}

.sub-comment-reply{
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comment-form button{
    margin-right: 15px;
    padding: 4px 9px;
}

.comment-operator{
    margin-top:2px;
}

.comment-operator a{
    color: #999;
    cursor: pointer;
    vertical-align: -2px;
}

.comment-operator a:hover{
    color: #00a8c6;
    text-decoration: none;
}

/*.left-side-bar {
    border-right: 1px solid #bdbdbd;
    height: 300px;
}

.right-side-bar {
    border-left: 1px solid #bdbdbd;
    height: 300px;
}*/

.list-group a {
    border: none;
}

a.list-group-item.active {
    border-radius:6px;
    background-image: linear-gradient(to bottom,#2b76b7 0,#1f639e 100%);
}

.main-margin{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.main {
    background-color: white;
}

.side {
    margin: 5px 0;
}

.top-header {
    padding-left: 20px;
}

.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 25px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.question-wechat {
    width: 95%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 8px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin-top: 10px;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

a{

    text-decoration:none;

}

.menu .icon:hover {
    color: #499ef3;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #666;;
    padding: 0 0 15px 0;
}

.red {
    color: red !important;
}