<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodePower</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>

<div th:replace="navigation :: nav"></div>

<div class="container-fluid main-margin">
    <div class="row">
        <div class="col-lg-9 col-md-12 left-side-bar">
            <h2>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <span th:text="${sectionName}"></span>
            </h2>
            <hr>

            <div class="media" th:each="question :${pageInfo.list}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • 2020-02-02 23:10</span>
                </div>
            </div>
            <!-- 分页 -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:class="${pageInfo.isFirstPage}?disabled">
                        <a th:href="${pageInfo.isFirstPage}?'#':@{/profile/questions(pn=${pageInfo.pageNum-1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:class="${pageInfo.pageNum == num}?active" th:each="num:${pageInfo.navigatepageNums}">
                        <a th:href="@{/profile/questions(pn=${num})}" th:text="${num}"></a>
                    </li>

                    <li th:class="${pageInfo.isLastPage}?disabled">
                        <a th:href="${pageInfo.isLastPage}?'#':@{/profile/questions(pn=${pageInfo.pageNum+1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 right-side-bar">
            <div class="list-group" style="-webkit-box-shadow:none">
                <a href="/profile/questions" class="list-group-item" th:class="${section == 'questions'}?'list-group-item active':'list-group-item'">
                    我的提问
                </a>
                <a href="/profile/replies" class="list-group-item" th:class="${section == 'replies'}?'list-group-item active':'list-group-item'">所有回复<span class="badge">12</span></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>